.generator__header {
    margin-bottom: 1em;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    width: 100%;
}

.generator__titulo {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1em;
    opacity: .5;
}

.generator__checkbox {
    padding: 1em;
    background-color: var(--cinza-container);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.generator__texto {
    padding-bottom: 1em;
}

.generator__barra {
    margin-bottom: 1em;
}

#checkbox__botao {
    margin-top: 1.5em;
    padding: 1em;
    background-color: var(--verde);
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;
}

.checkbox__botao:hover {
    color: var(--preto);
    background-color: var(--verde-escuro);
}

.strength__container {
    background-color: var(--preto-fundo);
    padding: 1em;
}

.strenght__container-texto {
    font-weight: 400;
    opacity: .5;
}

.strength__container {
    margin-top: .6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medidor__texto{
    font-weight: 600;
    margin-right: .3em;
}

.strength__container-medidor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.barra {
    height: 19px;
    width: 5px;
    border: 1px solid var(--branco);
    background-color: orange;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.label-range {
    color: var(--verde);
    font-size: 1.5em;
}

input[type="range"] {
    width: 100%;
}

input[type="text"] {
    width: 340px;
    border-radius: 3px;
    border: none;
    background-color: var(--cinza-container);
    padding: 1.5em;
}

input::placeholder {
    color: var(--branco);
    font-size: 1.8em;
    font-weight: 400;
}

