@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;700&display=swap');
@import url(/css/generator.css);

:root {
    --branco: #fff;
    --preto: #000;
    --preto-fundo: #0a0a0f;
    --branco-fonte: #e5e4eb;
    --verde: #a5ffaf;
    --verde-escuro: #5cff6f;
    --cinza-container: #24232a;
    --vermelho: #EB6440;
    --vermelho-escuro: #e9471b;
    --vermelho-muito-escuro: #661701;
    --laranja: orange;
    --cinza: #f0f0f0ab;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Sono', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco-fonte);
    background-color: var(--preto-fundo);
}

main {
    display: flex;
    flex-direction: column;
}
